In [37]:
import pandas as pd
f_history=open('history.csv','r')
lines=f_history.readlines()
#structure:
# img,title,author,chapter
for i in range(len(lines)):
    line=lines[i].strip().split(',')
    lines[i]=line

print(lines)
pd.DataFrame(lines,columns=['img','title','author','chapter'])

[['img0', 'title0', 'author0', 'chapter0'], ['img1', 'title1', 'author1', 'chapter1'], ['img2', 'title2', 'author2', 'chapter2'], ['img3', 'title3', 'author3', 'chapter3'], ['img4', 'title4', 'author4', 'chapter4'], ['img5', 'title5', 'author5', 'chapter5'], ['img6', 'title6', 'author6', 'chapter6'], ['img7', 'title7', 'author7', 'chapter7'], ['img8', 'title8', 'author8', 'chapter8'], ['img9', 'title9', 'author9', 'chapter9']]

    img   title   author   chapter
0  img0  title0  author0  chapter0
1  img1  title1  author1  chapter1
2  img2  title2  author2  chapter2
3  img3  title3  author3  chapter3
4  img4  title4  author4  chapter4
5  img5  title5  author5  chapter5
6  img6  title6  author6  chapter6
7  img7  title7  author7  chapter7
8  img8  title8  author8  chapter8
9  img9  title9  author9  chapter9